@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,white, rgb(235, 235, 235));
}
main{
    background-color: aliceblue;
    width: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(168, 168, 168, 0.555);
    padding: 10px;
    margin: auto;
}

h2{
    columns: black;
}
p{
    text-align: justify;
}